
.header {
    height: 100vh;
    position: relative;
    width: 100%
}

.header:before {
    background-image: url(/src/dots-top-401abdab.png), url(/src/dots-bottom-27735777.png);
    background-position: 20px 20px, 20px calc(100% - 183px);
    background-repeat: repeat-x, repeat-x;
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 100;
    width: 100%;
}

.header video,
.header:after {
    position: absolute;
    width: 100%
}

.header video {
    /*height: 100%;
    left: 0;
    object-fit: cover;
    top: 0;*/
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 40px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.header:lang(ar) {
    direction: rtl
}

.header-top__logo {
    display: block;
    margin-top: 20px;
    position: relative;
    width: 320px
}

.header-top__logo img {
    position: absolute;
    width: 100%;
}

.header-top__logo-yellow {
    filter: drop-shadow(0 2px 7px rgba(0, 0, 0, .38)) drop-shadow(0 4px 16px rgba(0, 0, 0, .25));
    opacity: 1;
    visibility: visible
}

@media (min-width:1200px) {
    .header-top:before {
        background: linear-gradient(180deg, rgba(0, 0, 0, .65), transparent);
        content: "";
        display: block;
        height: 112px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity .2s;
        width: 100%;
        will-change: opacity
    }

    .header-top--fixed:before {
        opacity: 1
    }
}
@media (min-width:1200px) {

    .menu {
        clip-path: polygon(16px 0, 100% 0, 100% 30px, calc(100% - 18px) 48px, calc(100% - 18px) 2000%, 0 2000%, 0 16px);
        margin-top: 36px;
        position: relative
    }

    .menu:before {
        backdrop-filter: blur(8px);
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1
    }

    .menu-list {
        align-items: center;
        background: rgba(0, 0, 0, .6);
        border: 1px solid #fcee0a;
        display: flex;
        height: 48px;
        list-style: none;
        margin: 0;
        padding: 0 0 0 24px
    }

    .menu-list:lang(ar) {
        padding: 0 24px 0 0
    }

    .menu-list:before {
        border-right: 18px solid transparent;
        border-top: 18px solid #fcee0a;
        content: "";
        left: 0;
        position: absolute;
        top: 0
    }

    .menu-list:lang(ar):before {
        border-left: 18px solid transparent;
        border-right: none;
        left: auto;
        right: 0
    }

    .menu-item {
        align-items: center;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-family: BlenderProBook, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        height: 100%;
        line-height: 110%;
        padding: 0 25px;
        position: relative;
        text-transform: uppercase;
        justify-content: center; 
        align-items: center;
    }

    .menu-item a {
        color: inherit;
        position: relative;
        text-decoration: none;
        white-space: nowrap
    }

    .menu-item.menu-item-impress {
        background-image: linear-gradient(90deg, hsla(0, 0%, 100%, .25) 2px, transparent 0, transparent)
    }

    .menu-item.menu-item-satis {
        background: #fcee0a;
        color: #000;
        font-family: BlenderProBold, sans-serif;
        font-weight: 700;
        min-width: 16px;
        text-align: center
    }


    .menu-item:hover {
        background: #fcee0a;
        color: #000000
    }
}